.header {
    width: 100%;
    height: 80px;
    background: white;

}
.logo {
    display: inline-block;
    width: 180px;
    padding: 5px 5px 5px 5px;
    float: left;
}
.logo span {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    text-shadow: 3px 3px 2px #666666;
    border-radius: 100%;
    background: #e65c42;
}
.logo span:nth-child(2n) {
    background: #f9b471;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}
nav li {
    display: inline;
    margin-right: 40px;}
nav li a {
    color: #ffffff;}

.head-menu {
    display: inline-block;
    text-align: center;
    position: absolute;
    padding: 20px;
    left: 60%;

}
.head-menu a {
    color: black;
    font-size: 16px;
    margin-right: 25px;
}
.search {
    display: inline-block;
    position: absolute;
    left: 90%;
    padding-top: 20px;
    padding-right: 10px;

}
.search__input {
    width: 125px;
    border: none;
    float: left;
    height: 20px;
}
input::placeholder {
    font-style: italic;
    color: #9e9fa4;
}
.button {
    border: none;
    background: white;

}
a{
    text-decoration: none;
}
